.section
  .container
    %dl
      - m3_show_structure.each do |field|
        %dt= resource_class.human_attribute_name(field.name)
        %dd
          - if belongs_to_associations[field.name].present?
            = link_to(field.value(resource), [:backend, belongs_to_associations[field.name]])
          - else
            = field.value(resource)