= toc.anker("Wettkämpfe", :h2)
= count_table(@team_competitions) do |ct|
  - ct.col("Datum", helper_method: :competition_link, helper_method_options: { type: :date })
  - ct.col("Typ") { |row| event_link(row.event) }
  - ct.col("Ort") { |row| place_link(row.place) }
  - ct.col("Name") { |row| competition_link(row, type: :name) }

  - [:hl, :hb, :gs, :fs, :la].each do |discipline|
    - ct.col(discipline_name_short(discipline), discipline, class: "col-5", th_options: { title: discipline_name(discipline) })