[submodule "firesport-series"]
	path = firesport-series
	url = git@github.com:Feuerwehrsport/firesport-series.git
[submodule "firesport"]
	path = firesport
	url = git@github.com:Feuerwehrsport/firesport.git
[submodule "m3"]
	path = m3
	url = ssh://gitolite3@stadthafen-rails/m3
[submodule "m3_rspec"]
	path = m3_rspec
	url = ssh://gitolite3@stadthafen-rails/m3_rspec
