%h1 Administration
.row
  .col-md-4
    %ul.nav.nav-pills.nav-stacked.backend-nav
      %li= link_to("Ausloggen", destroy_admin_user_session_path, method: :delete)
  .col-md-4
    %ul.nav.nav-pills.nav-stacked.backend-nav
      - @models.each do |model|
        %li
          %a{ href: url_for([:backend, model]) }
            = model.model_name.human(count: 0)
            %span.badge= model.count
