%p
  Der Name für die kurze URL sollte nach der Veröffentlichung nicht mehr geändert werden,
  da dieser automatisch verteilt wird. Der eingegebene Name wird in der vollständigen URL so aussehen:
%code#slug-url https://feuerwehrsport-statistik.de/wa/[SLUG]
