.section
  .container
    .pull-right
      %a{ href: news_articles_path(format: :atom), title: "RSS-Feed der Neuigkeiten" }
        = design_image("application-rss", width: "20")
        RSS-Feed
    %h1 Neuigkeiten der Feuerwehrsport-Statistik
  .container
    .col-md-2
      = design_image("applications-office")
    .col-md-6
      = render("news_index", news: collection)