%h4 Wertung- und Punktesystem
%p Die Wertung erfolgt nach einem Punktesystem. Es geht immer der Beste Lauf des Tages in die Wertung (darunter zählen auch jegliche Arten von Finalläufen). Die Wertung schlüsselt sich nach folgendem System auf.
%ol
  %li Wertung der besten Zeit (z.B.: 17,48sek)
  %li Komma aus der Zeit wird entfernt und Punktzahl entsteht (z.B.: 1748 Punkte)
  %li Die Punkte werden für die Gesamtwertung addiert
  %li Der Wettkämpfer muss an 4 Wettkämpfen in einer Disziplin teilnehmen um in die Gesamtwertung zu zählen und eine Chance auf den Gesamtsieg zu haben
  %li Sollte der Wettkämpfer nur an 3 Wettkämpfen teilnehmen werden ihm am Ende des Jahres 9999 Punkte für den fehlenden Wettkampf dazu gerechnet
  %li Sollte der Wettkämpfer an mehr als 4 Wettkämpfen Teilnehmen werden nur die besten 4 Zeiten/Punkte gewertet
  %li Der Wettkämpfer, der nach dem letzten Ligawettkampf die geringste Punktzahl hat, gewinnt die Liga