%fieldset
  %legend Mannschaft
  .row
    #select-teams.col-md-3
      %select#team-from
    #select-move-teams.col-md-6.text-center
      #do-move.btn.btn-default Ausführen
    #select-move-teams.col-md-3
      %select#team-move
      #use-team-from.btn.btn-default Von links
  .row
  %table#score-table.table.table-hover.table-condensed.table-bordered
    %tr#headline
      %th
      %th ID
      %th N
      %th Wettkampf
      %th