%h1 Wettkampftypen

= count_table(@events, class: "datatable-events") do |t|
  - t.col("Typ", class: "col-md-4") { |row| event_link(row) }
  - t.col("Wettkämpfe", :count, class: "col-md-1")

= @chart.events_count