.section
  .container
    %h1 Geschlecht wählen
    .row#template-select
      - @genders.each do |gender|
        .col-md-5.template
          = simple_form_for(gender, url: registrations_competition_teams_path(from_gender_select: true)) do |f|
            = f.input :gender, as: :hidden
            %h3= g(gender.gender)
            .pull-right
              = f.submit 'Wählen', class: 'btn btn-primary'
