%h1 RSS-Feeds
%p Diese Website stellt mehrere Feeds zur Verf체gung. Dabei sind alle Feeds in mehreren Formaten verf체gbar.
%table.table
  %tr
    %th Neuigkeiten
    %td= link_to("Atom", news_index_path(format: :atom))
  %tr
    %th Ver채nderungen
    %td= link_to("Atom", change_logs_path(format: :atom))
  %tr
    %th Ver채nderungen der Programmdateien
    %td= link_to("Atom", "https://github.com/Feuerwehrsport/feuerwehrsport-statistik-website/commits/master.atom")