.page-head
  %h1
    Wettkampfanmeldung
    %small= resource_instance.competition

.row
  - if resource_instance.gender.nil? || @step == 0 || errors_on?(:name, :shortcut, :gender, :team_numer, :team_leader, :street_with_house_number, :postal_code, :locality, :phone_number, :email_address)
    = render('form_step_0')
  - else
    .col-md-8
      = render('form_step_1')
