.section
  .container
    %h1
      Anmeldung zum Inselpokal

  .container
    - if @registration
      .alert.alert-success Deine Anmeldung zum Inselpokal wurde gespeichert. Dies stellt keine Startberechtigung da. Informiere dich auf der Webseite über das Starterfeld.

    %ul
      %li= link_to('Weitere Mannschaft anmelden', new_ipo_registration_path)
      %li= link_to('Ergebnisse vom Inselpokal auf Feuerwehrsport-Statistik.de', place_path(269))
      %li= link_to('Zurück zur Inselpokal-Webseite', 'http://www.inselpokal-poel.de')