.row
  .col-md-2
    = design_image("dialog-warning")
  .col-md-10
    %h1
      Fehler beim Seitenaufbau
      %small Error 500 - unacceptable
    %p Der Browser sendete Fehlerhafte Eingabedaten.

    %ul
      %li= link_to("Startseite", root_path)
      %li= contact_link("Kontakt")
