%h4 Berechnung der Punkte beim Sächsischen Steigercup
%p Der beste Einzelwettkämpfer aller Pokalläufe erhält einen Wanderpokal. Genauso erhält der beste Wettkämpfer unter 20 Jahren einen Wanderpokal. Dabei können nur Wettkämpfer berücksichtigt werden, die im gesamten Kalenderjahr ihren 20. Geburtstag noch nicht erreichen. Der Geburtstag ist durch Personalausweis nachzuweisen. Bei jedem Pokallauf wird von jedem Wettkämpfer die bessere Zeit gewertet und ergibt die Wertungszeit für diesen Pokallauf.

%h4 Einzelwertung
%p Für den 1. Platz erhält der Wettkämpfer 30 Punkte, für den 2. Platz 29 Punkte usw. bis zum 30. Platz 1 Punkt. Die Punkte der Pokalläufe von jedem Wettkämpfer werden addiert und ergeben die Gesamtpunkte für die Einzelwertung. Derjenige Wettkämpfer mit den meisten Punkten ist Einzelsieger. Bei Punktgleichheit entscheidet dann die bessere Gesamtzeit und dann die beste erreichte Zeit.