.pull-right
  %a{ href: change_logs_path(format: :atom), title: "RSS-Feed der Änderungen" }
    = design_image("application-rss", width: "20")
    RSS-Feed
%h1 Veränderungen
= count_table(@change_logs, class: "datatable-change-logs") do |t|
  - t.col("Zeitpunkt", :created_at)
  - t.col("Beschreibung", :model_class)
  - t.col("Aktion", :action_name)
  - t.col("Inhalt", :diff_hash)