.pull-right
  %a{ href: change_logs_path(format: :atom), title: "RSS-Feed der Änderungen" }
    = design_image("application-rss", width: "20")
    RSS-Feed
%h1 Veränderungen
= count_table(@change_logs, class: "datatable-change-logs") do |t|
  - t.col("Zeitpunkt") { |row| l(row.created_at) }
  - t.col("Beschreibung", :translated_action)
  - t.col("Inhalt", :readable_content)