.btn-group{ class: options[:class] }
  - buttons.each do |button|
    = button
  - unless links.empty?
    %a.btn.dropdown-toggle.btn-default{ href: '#', data: { toggle: 'dropdown' } }
      - if buttons.empty?
        = name
      %span.caret
    %ul.dropdown-menu
      - links.each do |item|
        %li= item