-# - if resource.person_tag_list.present? || resource.team_tag_list.present?
-#   .panel.panel-default
-#     .panel-heading
-#       Markierungen
-#     .panel-body
-#       %table.table.table-condensed
-#         - if resource.person_tag_list.present?
-#           %tr
-#             %th Wettkämpfer
-#             %td
-#               %ul
-#                 - resource.person_tag_list.each do |tag|
-#                   %li= tag
-#         - if resource.team_tag_list.present?
-#           %tr
-#             %th Mannschaften
-#             %td
-#               %ul
-#                 - resource.team_tag_list.each do |tag|
-#                   %li= tag
-#     - if can?(:edit, resource)
-#       .panel-footer= link_to('Bearbeiten', edit_registrations_competition_tags_path(resource),
-#         class: 'btn btn-default btn-xs', remote: true)
