.panel.panel-default
  .panel-heading
    %h3.panel-title Export
  .panel-body
    = link_to('Excel-Format', { format: :xlsx }, class: 'btn btn-default btn-block btn-sm')
    = link_to('PDF-Format', { format: :pdf }, class: 'btn btn-default btn-block btn-sm')
