%h3
  Einzelstarter #{g(gender)}
  %small #{g_symbol(gender)} Anzahl: #{people_count}
- if people.present?
  = count_table(people) do |ct|
    - ct.col('Vorname', :first_name, class: 'col-15 small')
    - ct.col('Nachname', :last_name, class: 'col-15 small')
    - ct.col('Team', :team_name, class: 'col-10 small')
    - if resource.person_tag_list.present?
      - ct.col('Attribute') { |person| person.tag_names.join(', ') }
    / - ct.col("") { |row| can?(:edit, row) ? link_to("Bearbeiten", action: :edit, controller: :people, id: row.id) : "" }
    - resource.object.assessments.gender(gender).decorate.each do |assessment|
      - unless Discipline.group?(assessment.discipline)
        - ct.col(assessment) { |row| edit_participation(row, assessment, resource) }
    - unless can?(:update, resource)
      - ct.footer(class: 'text-center small active') { 'Es werden eventuell nicht alle Wettkämpfer angezeigt, da du nicht genügend Rechte dafür besitzt.' }
