- if teams.present?
  = count_table(teams) do |ct|
    - ct.col('Name', class: 'col-md-4') { |row| can?(:update, row) ? link_to(row.with_number, registrations_band_team_path(band, row)) : row.with_number }
    - if band.team_tag_list.present?
      - ct.col('Attribute') { |row| row.tag_names.join(', ') }
    - band.assessments.each do |assessment|
      - ct.col(discipline_image_name_short(assessment.discipline), th_options: { title: assessment.decorate }) do |row|
        - if Discipline.group?(assessment.discipline)
          - row.assessments.include?(assessment) ? 'x' : ''
        - else
          - count_or_zero(row.people.with_assessment(assessment).distinct.count)
