.section
  .container
    %h1 Vorlage f체r Wettk채mpf w채hlen
    - Registrations::Competition::TEMPLATES.each_with_index.each_slice(2) do |templates_with_index|
      .row
        - templates_with_index.each do |template, index|
          .col-md-5
            .panel.panel-default
              .panel-heading= template.name
              .panel-body
                = Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(template.markdown).html_safe
              .panel-footer= button_to "Ausw채hlen", url_for(action: :create, from_template: index, first: 1), class: 'btn btn-default'