.section
  .container
    %h1 Wettkampftermine

    .alert.alert-info
      %p Ab sofort werden auf dieser Seite keine Termine mehr gepflegt. Bitte benutzt dafür das neue Portal

      %p= link_to("feusport.de - Termine und Live-Ergebnisse", "https://feusport.de", class: "btn btn-primary btn-lg")