%h4 Brandenburger 4-Bahnenpokal 2019

%p Beim Brandenburger 4-Bahnenpokal handelt es sich um eine Serie von Wettkämpfen der Feuerwehrsport-Disziplin "Löschangriff Nass". Wir starten mit Pumpen nach DDR-Bauart, an denen jedoch technische Veränderungen erlaubt sind. Bei jeder einzelnen Veranstaltung werden auch weitere Läufe mit gestellten Pumpen durchgeführt.
%p Jede interessierte Feuerwehr ist herzlich eingeladen, an diesen Veranstaltungen teilzunehmen. 

= render('link', target: "https://www.4-bahnenpokal.de", label: "Weitere Informationen auf der Webseite www.4-bahnenpokal.de")

%h4 Tageswertung

%p Die Gesamtwertung erfolgt nach folgender Punktevergabe:

.row
  .col-md-6
    %table.table
      %tr
        %th 1. Platz
        %td 25 Punkte
        %th 9. Platz
        %td 7 Punkte
      %tr
        %th 2. Platz
        %td 20 Punkte
        %th 10. Platz
        %td 6 Punkte
      %tr
        %th 3. Platz
        %td 16 Punkte
        %th 11. Platz
        %td 5 Punkte
      %tr
        %th 4. Platz
        %td 13 Punkte
        %th 12. Platz
        %td 4 Punkte
      %tr
        %th 5. Platz
        %td 11 Punkte
        %th 13. Platz
        %td 3 Punkte
      %tr
        %th 6. Platz
        %td 10 Punkte
        %th 14. Platz
        %td 2 Punkte
      %tr
        %th 7. Platz
        %td 9 Punkte
        %th 15. Platz
        %td 1 Punkte
      %tr
        %th 8. Platz
        %td 8 Punkte
        %th 16. Platz
        %td 0 Punkte

%ul
  %li Die bei den einzelnen Veranstaltungen erzielten Plätze werden in die entsprechende Punktezahl umgerechnet.
  %li Mannschaften, welche keine Wertungszeit erreichen, erhalten die Punkte des ermittelten Platzes.

%h4 Gesamtwertung
%ul
  %li Die Wehr ist Gesamtsieger, die nach der letzten Veranstaltung die höchste Punktezahl hat.
  %li Bei Punktegleichstand zwischen den ersten drei Mannschaften, werden die einzelnen Platzierungen berücksichtigt, danach die Summe der einzelnen Laufzeiten.
  %li Es gehen nur die Ergebnisse der besten vier Veranstaltungen in die Wertung ein. Somit ergibt sich ein Streichlauf.
  %li Alle anderen Mannschaften erreichen bei Punktegleichstand die gleichen Platzierungen.
  %li Für die Pokalwertung können sich pro Wehr eine Männer- und eine Frauenmannschaft einschreiben.