%h4 Brandenburg-Cup
%p Der Brandenburg-Cup ist ein alljährlich ausgetragener Wanderpokalwettbewerb für die Disziplin Löschangriff nass.

= render('link', target: "http://www.bb-cup.de", label: "Weitere Informationen auf der Webseite bb-cup.de")

%h4 Ausschreibung
%ul
  %li= link_to('Ausschreibung 2025', '/series/bb-cup-2025.pdf')
