%h4 Brandenburg-Cup
%p Der Brandenburg-Cup ist ein alljährlich ausgetragener Wanderpokalwettbewerb für die Disziplin Löschangriff nass. Die einzelnen Wettkämpfe werden von vier Veranstaltern ausgetragen:
%ul
  %li Freiwillige Feuerwehr Neuendorf
  %li Feuerwehrverein Gehren e.V.
  %li Feuerwehrverein Neschholz 1999 e.V.
  %li Feuerwehrverein Schwanebeck 2002.e.V.

= render('link', target: "http://www.bb-cup.de", label: "Weitere Informationen auf der Webseite bb-cup.de")

%h4 Tageswertung

%p Die Gesamtwertung erfolgt seit 2017 nach folgender Punktevergabe:

.row
  .col-md-6
    %table.table
      %tr
        %th 1. Platz
        %td 16 Punkte
        %th 9. Platz
        %td 7 Punkte
      %tr
        %th 2. Platz
        %td 14 Punkte
        %th 10. Platz
        %td 6 Punkte
      %tr
        %th 3. Platz
        %td 13 Punkte
        %th 5. Platz
        %td 5 Punkte
      %tr
        %th 4. Platz
        %td 12 Punkte
        %th 11. Platz
        %td 4 Punkte
      %tr
        %th 5. Platz
        %td 11 Punkte
        %th 12. Platz
        %td 3 Punkte
      %tr
        %th 6. Platz
        %td 10 Punkte
        %th 13. Platz
        %td 2 Punkte
      %tr
        %th 7. Platz
        %td 9 Punkte
        %th 14. Platz
        %td 1 Punkte
      %tr
        %th 8. Platz
        %td 8 Punkte
        %th 15. Platz
        %td 0 Punkte

%h4 Gesamtwertung
%p Die Wehr ist Gesamtsieger, die nach der letzten Veranstaltung die höchste Punktezahl hat. Bei Punktegleichstand zwischen den ersten drei Mannschaften, werden die einzelnen Platzierungen berücksichtigt, danach die Summe der einzelnen Laufzeiten.
Alle anderen Mannschaften erreichen bei Punktegleichstand die gleichen Platzierungen.
%p Für die Pokalwertung können sich pro Wehr eine Männer- und eine Frauenmannschaft einschreiben. Es werden nur Mannschaften gewertet, die an mindestens 3 Veranstaltungen teilgenommen haben. Für Mannschaften, welche an weniger als 3 Veranstaltungen teilgenommen haben und bei diesen Wertungspunkte erreicht haben, verfallen diese. Eine Neuberechnung der einzelnen Tageswertungen erfolgt nicht.
%p Urkunden werden nur für die Mannschaften in den Punkterängen erstellt.