%h4 Feuerwehr-Cup-Sachsen
%p Der Feuerwehr-Cup-Sachsen ist ein alljährlich ausgetragener Wanderpokalwettbewerb für die Disziplin Löschangriff nass.

= render('link', target: "http://sachsencup.blogspot.de", label: "Weitere Informationen auf der Cup-Webseite")

%h4 Tageswertung

%p Die Gesamtwertung erfolgt nach folgender Punktevergabe:

.row
  .col-md-6
    %table.table
      %tr
        %th 1. Platz
        %td 10 Punkte
        %th 5. Platz
        %td 4 Punkte
      %tr
        %th 2. Platz
        %td 8 Punkte
        %th 6. Platz
        %td 3 Punkte
      %tr
        %th 3. Platz
        %td 6 Punkte
        %th 7. Platz
        %td 2 Punkte
      %tr
        %th 4. Platz
        %td 5 Punkte
        %th 8. Platz
        %td 1 Punkte
