%h4 TGL-Cup
%p Der TGL-Cup ist ein alljährlich ausgetragener Wettbewerb für die Disziplin Löschangriff nass. Jedes Jahr kommt es zu einer unterschiedlichen Anzahl von Wettkampfstätten.
%h4 Pumpe
%ul
  %li TS 8/8 TGL nach Original-Bauart   Es gibt folgende Ausnahmeregelungen:
  %li Auspuff darf frei gestaltet werden
  %li Vergaser darf frei gestaltet werden (1 Vergaser)
  %li Einbaurichtung der Zündkerzen am Zylinderkopf kann beliebig sein
  %li Vorhandene Blindkupplungen müssen mit der TS verbunden sein.
  %li Im Betrieb sind die Blindkupplungen abzukuppeln
  %li Die Nutzung eines Sicherungsstiftes am B-Abgang der TS wird empfohlen

= render('link', target: 'http://www.tglcup.de', label: 'Weitere Informationen auf der Webseite tlgcup.de')

%h4 Wertung

%p Höchstpunktzahl pro Jahr richtet sich nach der Anzahl zum ersten Wettkampf gemeldeter Mannschaften. Im Jahr 2018 waren 15 Mannschaften gemeltet, also wurde die Höchstpunktzahl auf 15 Punkte festgelegt.
%p Es gibt in der Serie genau einen Streichwert. Bei Punktgleichheit entscheidet die Anzahl der besten Platzierungen.