%h4 Steigercup des LFV Sachsen
%p Der Sächsische Steigercup ist ein alljährlich ausgetragener Wanderpokalwettbewerb des LFV Sachsen für die Disziplin Aufstieg mit der Hakenleiter. Seit 1997 werden jedes Jahr in mehreren Pokalläufen an verschiedenen sächsischen Steigertürmen die Sieger ermittelt.

= render('link', target: "http://www.lfv-sachsen.de/referate/wettbewerbe/129-saechsischer-steigercup", label: "Weitere Informationen beim LFV Sachsen")

%p Der beste Einzelwettkämpfer aller Pokalläufe erhält einen Wanderpokal. Genauso erhält der beste Wettkämpfer unter 20 Jahren einen Wanderpokal. Dabei können nur Wettkämpfer berücksichtigt werden, die im gesamten Kalenderjahr ihren 20. Geburtstag noch nicht erreichen. Der Geburtstag ist durch Personalausweis nachzuweisen. Die beste Mannschaft aller Pokalläufe erhält einen Wanderpokal. Bei jedem Pokallauf wird von jedem Wettkämpfer die bessere Zeit gewertet und ergibt die Wertungszeit für diesen Pokallauf.

%h4 Mannschaftswertung
%p Eine Mannschaft kann aus bis zu 4 Wettkämpfern bestehen, die vor jedem Pokallauf namentlich zu benennen sind. Die Mannschaftsbesetzung kann zu jedem Pokallauf geändert werden. Bei jedem Pokallauf werden die Zeiten der 3 besten Mannschaftsmitglieder addiert und ergeben das Mannschaftsergebnis für diesen Pokallauf. Bringt die Mannschaft weniger Wettkämpfer in die Wertung, so wird sie entsprechend der Anzahl Wettkämpfer und dann der erzielten Zeit platziert. Für den 1. Platz erhält die Mannschaft 10 Punkte, für den 2. Platz 9 Punkte usw. bis zum 10. Platz 1 Punkt. Bei Punktgleichheit entscheidet dann die bessere Gesamtzeit und dann die beste erreichte Zeit.