%h4 Thüringer-Feuerwehr-Cup
%p Der Thüringer-Feuerwehr-Cup ist ein alljährlich von den Feuerwehren Frienstedt, Gamstädt, Marolterode und Wittgendorf ausgeschriebener Wettbewerb für die Disziplin Löschangriff nass.

= render('link', target: "http://www.thüringer-feuerwehrcup.de", label: "Weitere Informationen auf der Webseite thüringer-feuerwehrcup.de")

%h4 Tageswertung

%p Die Gesamtwertung erfolgt nach folgender Punktevergabe:

.row
  .col-md-6
    %table.table
      %tr
        %th 1. Platz
        %td 10 Punkte
        %th 6. Platz
        %td 3 Punkte
      %tr
        %th 2. Platz
        %td 8 Punkte
        %th 7. Platz
        %td 2 Punkte
      %tr
        %th 3. Platz
        %td 6 Punkte
        %th 8. Platz
        %td 1 Punkte
      %tr
        %th 4. Platz
        %td 5 Punkte
        %th 9. Platz
        %td 0 Punkte
      %tr
        %th 5. Platz
        %td 4 Punkte
        %th 10. Platz
        %td 0 Punkte

%h4 Gesamtwertung
%p Von jeder Veranstaltung wird der beste Lauf je Mannschaft gewertet.
%p Jede Mannschaft hat ein Streichergebnis (es werden nur 4 Läufe gewertet - die schlechteste Platzierung wird gestrichen).
%p Somit liegt die Höchstpunktzahl bei 40 Punkten. Bei Punktgleichheit entscheidet die Platzierung im Einzelnen. Sollte weiterhin Gleichheit bestehen, entscheidet die Zeit in der Summe aller gewerteten Läufe.
%p Die Siegerehrung der Mannschaften findet immer dort statt, wo der letzte Wettkampf
ausgetragen wird.