%h4 Feuerwehr-Cup-Sachsen
%p Der Feuerwehr-Cup-Sachsen ist ein alljährlich ausgetragener Wanderpokalwettbewerb für die Disziplin Löschangriff nass.

= render('link', target: "http://sachsencup.blogspot.de", label: "Weitere Informationen auf der Cup-Webseite")

%h4 Tageswertung

%p Die Gesamtwertung erfolgt nach folgender Punktevergabe:

.row
  .col-md-6
    %table.table
      %tr
        %th 1. Platz
        %td 10 Punkte
        %th 6. Platz
        %td 5 Punkte
      %tr
        %th 2. Platz
        %td 9 Punkte
        %th 7. Platz
        %td 4 Punkte
      %tr
        %th 3. Platz
        %td 8 Punkte
        %th 8. Platz
        %td 3 Punkte
      %tr
        %th 4. Platz
        %td 7 Punkte
        %th 9. Platz
        %td 2 Punkte
      %tr
        %th 5. Platz
        %td 6 Punkte
        %th 10. Platz
        %td 1 Punkte

%p Mannschaften ohne Wertungszeit erhalten keine Punkte.

%h4 Gesamtwertung
%p Jede Mannschaft hat ein Streichergebnis (es werden nur 3 Läufe gewertet - die schlechteste Platzierung wird gestrichen). Somit liegt die Höchstpunktzahl bei 30 Punkten. 
%p Bei Punktgleichheit entscheidet die Platzierung im Einzelnen. Sollte weiterhin Gleichheit bestehen, entscheidet die schnellste Wertungszeit.
%p Der Sieger der Gesamtwertung erhält einen Wanderpokal und Medaillen für Platz 1-3, sowie eine Teilnahme Urkunde für alle Teilnehmer.
