#footer
  .container
    %ul.nav.nav-justified
      %li
        %a{:href => "/page/administration.html"} Administration
      %li
        %a{:href => "/page/feeds.html"} RSS
      %li
        %a{:href => "/page/logs.html"} Veränderungen
      %li
        %a{:href => "http://www.feuerwehrsport-teammv.de"} Feuerwehrsport Team-MV
      %li
        %a{:href => "/page-home.html#kontakt"} Kontakt
      %li
        %a{:href => "http://www.georf.de/impressum/"} Impressum