#footer
  .container
    %ul.nav.nav-justified
      %li
        %a{:href => "/page/administration.html"} Administration
      %li
        %a{:href => "/page/feeds.html"} RSS
      %li
        %a{:href => "/page/logs.html"} Veränderungen
      %li= link_to("Feuerwehrsport Team-MV", "http://www.feuerwehrsport-teammv.de")
      %li= link_to("Kontakt/Impressum", impressum_path)
        