- links.each do |link|
  %h4{ data: { link_id: link.id } }
    %a{ href: link.url }
      %span.glyphicon.glyphicon-hand-right
      = link.label
    &nbsp;
    %small{ title: "Link »#{link.label}« melden" }
      .report-link.btn.btn-default.btn-xs
        %span.glyphicon.glyphicon-flag
.pull-right
  .add-link.btn.btn-default{ data: { linkable_type: linkable_type, linkable_id: linkable_id } } Link hinzufügen