- news.each do |n|
  %h4
    = link_to(n.title, n, title: n.published_at_date)
    %small= n.published_at_date
  %p= truncate(strip_tags(n.content), length: 200, escape: false) { "&nbsp;#{link_to("[weiterlesen]", n, title: n.title)}" }
