%table.table.table-condensed
  %thead
    %tr
      %th Cups
      %th{ title: "Mannschaften" } Mann.
      %th{ title: "Einzelstarter" } Einzel
  %tbody
    - cups.each do |cup|
      %tr{ title: cup.competition }
        %td= link_to(cup.competition.date_with_place, cup.competition)
        %td= cup.team_count
        %td= cup.person_count