%hr
.col-md-3.pull-right
  .panel.panel-default
    .panel-heading
      %h3.panel-title Anregungen?
    .panel-body 
      Falls du Anmerkungen zu dieser Wettkampfserie hast, #{contact_link("kontaktiere")} uns!
.col-md-3.pull-right
  - if official
    .panel.panel-success
      .panel-heading
        %h3.panel-title Offiziellen Ergebnisse!
      .panel-body
        Diese Ergebnisse wurden vom Veranstalter kontrolliert und sind die offiziellen Serienergebnisse.
  - else
    .panel.panel-warning
      .panel-heading
        %h3.panel-title Keine offiziellen Ergebnisse!
      .panel-body 
        Diese Ergebnisse wurden importiert. Gerade bei Wettkampfserien kann es dabei zu Fehlern kommen. Wenn du einen Fehler findest, #{contact_link("kontaktiere")} uns!
- if pdf
  .col-md-3.pull-right
    .panel.panel-default
      .panel-heading
        %h3.panel-title Ausdrucken
      .panel-body
        Die Ergebnisse können auch als #{link_to('PDF', format: :pdf)} heruntergeladen werden.