.section
  .container
    %h1 Jahre

    = count_table(collection, class: 'datatable-years') do |t|
      - t.col('Jahr', class: 'col-md-4') { |row| year_link(row) }
      - t.col('Wettkämpfe', :count, class: 'col-md-1')

    %h4 Anzahl der Wettkämpfe pro Jahr
    = @chart.years_count