%p Die Berechnung der Pätze erfolgt auf folgender Grundlage:
%ol
  %li Von jedem Wettkämpfer werden die Punkte der drei besten Platzierungen addiert
  %li Von diesen 3 Platzierungen werden die Zeiten addiert
  %li Wettkämpfer werden nach Anzahl der Teilnahme sortiert. Mehr als 3 Teilnahmen sind egal.
  %li Wettkämpfer mit gleicher Anzahl an Teilnahmen (3.) werden nach Punkten (1.) sortiert.
  %li Wettkämpfer mit gleichen Punkten werden nach bester Gesamtzeit (2.) sortiert.
  %li Wettkämpfer mit gleicher Gesamtzeit werden nach bester Zeit sortiert.

