= @preview_string.html_safe
= button_to("Entfernen", {action: :competition_destroy, cup_id: @cup.id, perform: true}, class: "btn btn-danger", data: { confirm: "Diesen Wettkampf mit allen Zeiten aus der Serie entfernen?" })