%h1 Wettkampfanmeldungen
.pull-right
  = link_to("Neuen Wettkampf anlegen", { action: :new_select_template }, class: "btn btn-default")
= breadcrum

= count_table(resource_collection) do |ct|
  - ct.row_class { |row| row.date < Date.today ? "text-muted" : nil }
  - ct.col("Datum", class: "col-15") { |row| l(row.date, format: :german) }
  - ct.col("Name", :name, class: "col-30")
  - ct.col("Ort", :place, class: "col-30")
  - ct.col("Aktionen") { |row| link_to("Ansehen", row) }
