%h1 Wettkampfanmeldungen
.pull-right
  = link_to("Neuen Wettkampf anlegen", { action: :new_select_template }, class: "btn btn-default")
= breadcrum

= count_table(resource_collection) do |ct|
  - ct.col("Datum") { |row| l(row.date, format: :german) }
  - ct.col("Name", :name)
  - ct.col("Ort", :place)
  - ct.col("Aktionen") { |row| link_to("Ansehen", row) }
